.menu {
   display: block;
   text-indent: -9999px;
}

.menu::after,
.menu::before,
.menu > .menu_center {
   content: '';
   display: block;
   background-color: var(--color-nine);
   height: 4px;
   width: 100%;
   border-radius: 2px;
}

.menu::before ,  .menu > .menu_center {
   margin-bottom: 5px;
}