.input {
   display: none;
}

.label {
   display: inline-flex;
   align-items: center;
   cursor: pointer;
}

.label::before {
   content: '';
   display: inline-block;
   box-sizing: border-box;
   border: 3px solid var(--color-nine);
   border-radius: 5px;
   width: 20px;
   height: 20px;
   cursor: pointer;
   margin-right: 5px;
}

.input:checked+.label::before {
   background-color: var(--color-ten);
}