:root {
  --color-one: #eeeeee;
  --color-two: #ffffff;
  --color-three: #fffcee;
  --color-four: #eae6da;
  --color-five: #f4f1e4;

  --color-six: #9b9b9b;
  --color-seven: #828282;
  --color-eight: #707070;
  --color-nine: #3a4042;

  --color-ten: #f25a70;
}